tr
	td
		img(src='https://bootdey.com/img/Content/user_1.jpg', alt='')
		a.user-link(href='#') #{user.name}
	td.text-center
		span.label.label-default #{user.username}
	td(style='width: 20%;')
		button.start-game-btn.btn-success(data-id=user._id) Start Quiz