extends layouts/main.pug

block css
	link(rel='stylesheet' type='text/css' href='//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
	link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/tingle/0.13.1/tingle.min.css')
block content
	include templates/header/header.pug
	include templates/users/users.pug
	include templates/quiz/quiz.pug
block scripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/tingle/0.13.1/tingle.min.js')
	script(src='./js/dashboard.js')