extends layouts/main.pug
block css
  link(rel="stylesheet", href="./css/login.css")

block scripts
  script(src="./js/login.js")

block content
  .container
    .row
      .col-md-4.col-md-offset-4.text-center
        .search-box
          .caption
            h3 Advance Password Validation
            p Find to All
              .loginForm
                .input-group
                  input#name.form-control(type='text', placeholder='username')
                  input#paw.form-control(type='password', placeholder='Password')
                  input#submit.form-control(type='button', value='Sign In')