.container.bootstrap.snippet
	.row
		.col-lg-12
			.main-box.no-header.clearfix
				.main-box-body.clearfix
					.table-responsive
						table.table.user-list
							thead
								tr
									th
										span User
									th(style="text-align: center;")
										span Username
									th
							tbody
								if users.length > 0
									each user in users
										include ../userItem/userItem.pug
								else
									h1 No online user